
footer {
  position: absolute;
  background-image: url("../resources/brick.jpg");
  width: 100%;
  height: 53px;
  bottom: 0;
}

.membership-container {
  display: flex;
  /* establish flex container */
  justify-content: center;
  /* center items vertically, in this case */
  align-items: center;
}

.membership-block-regular {
  position: relative;
  float: left;
  width: 300px;
  height: 430px;
  border: 2px solid rgb(255, 255, 255);
  margin: 15px;
  display: block;
}
.membership-block-regular li {
}

.membership-block-gold {
  position: relative;
  float: left;
  width: 300px;
  height: 430px;
  border: 2px solid rgb(41, 244, 0);
  margin: 15px;
  display: block;
}

.membership-pictures-standard {
  position: relative;
  background-size: 100px 243px;
  background-image: url("https://vignette.wikia.nocookie.net/runescape2/images/d/d0/Void_Knight_equipment_set_equipped.png/revision/latest/scale-to-width-down/100?cb=20121014224430");
  width: 100px;
  height: 243px;
  margin-left: 35%;
  margin-top: 7%;
}

.membership-pictures-gold {
    position: relative;
  background-size: 100px 243px;
  background-image: url("https://vignette.wikia.nocookie.net/runescape2/images/3/38/Elite_void_guardian.png/revision/latest/scale-to-width-down/100?cb=20120628153928");
  width: 100px;
  height: 243px;
  margin-left: 35%;
  margin-top: 7%;
}
